{% extends 'product/base.html' %}
{% block content %}
<br><br>
<center>
    <h1>User login</h1>
    <form action="" method="POST" class="shadow p-3 mb-5 bg-body rounded">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>
{% endblock %}